<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c7717cdd20.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />

    <title >Mercado Liebre</title>
</head>

<body>
    <header> 

            <div >
                    <img src="images/logo-mercado-liebre.svg"  alt="imagen del logo" class="logo">
            </div>
            <div class="icono-busqueda" >
                    <i class="fa-solid fa-magnifying-glass"></i> 
            </div>
      <h3>Compra en cuotas y sin tarjeta de crédito</h3>
            <nav>
                 <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="#">Creá tu cuenta</a> <span class="iconos-nav"><i class="fa-solid fa-address-card"></i></span> </li>
                    <li><a href="#">Ingresá</a> <span class="iconos-nav"></span> </li>
                    <li> <a href="#">Mis compras</a> <span class="iconos-nav"></span> </li>
                </ul>
                    <span class="burguer-menu"><i class="fa-solid fa-bars"></i></span>
            </nav>
                <div class="banner"><img src="images\img-home-banner.jpg" alt="imagen banner de productos "></div>
    </header>

    <main>
        <section>
            <h2 class="titulos">Basado en tu última visita</h2>
                <article>  
                        <img src="images\img-cafetera-moulinex.jpg" alt="imagen Cafetera">
                    <div class="descripcion-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <p class="producto">Cafetera Moulinex</p>
                    </div>
                </article>

                <article>
                            <img src="images\img-macbook-pro-2019.jpg" alt="imagen Macbook">
                        <div class="descripcion-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                            <p class="producto">MacBook Pro 2019</p>
                        </div>
                </article>

                <article>
                            <img  src="images\img-samsung-galaxy-s10.jpg" alt="imagen Samsung s10">
                        <div class="descripcion-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                            <p class="producto">Samsung Galaxy S10</p>
                        </div>
                </article>

                <article>
                            <img src="images\img-tv-samsung-smart.jpg" alt="imagen Samsung Tv Smart">
                        <div class="descripcion-articulo">
                            <i class="fas fa-truck"></i> 
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                            <p class="producto">SmartTv Samsung 43"</p>
                        </div>
                </article>
        </section>

        
        <section>
            <title class="titulos">Ofertas</title>
                <article>  
                            <img src="images\img-cafetera-moulinex.jpg" alt="imagen Cafetera">
                        <div class="descripcion-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                            <p class="producto">Cafetera Moulinex</p>
                        </div>
                </article>

                <article>
                            <img  src="images\img-macbook-pro-2019.jpg" alt="imagen Macbook">
                        <div class="descripcion-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                            <p class="producto">MacBook Pro 2019</p>
                        </div>
                </article>

                <article>
                            <img class="imagen-productos" src="images\img-samsung-galaxy-s10.jpg" alt="imagen Samsung s10">
                        <div class="descripcion-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                            <p class="producto">Samsung Galaxy S10</p>
                        </div>
                </article>

                <article>
                            <img class="imagen-productos" src="images\img-tv-samsung-smart.jpg" alt="imagen Samsung Tv Smart">
                        <div class="descripcion-articulo">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                            <p class="producto">SmartTv Samsung 43"</p>
                        </div>
                </article>
        </section>
    </main>

    <footer>

        <section class="info-footer">
                    <span class="iconos-footer"><i class="fa-solid fa-credit-card"></i></span>  
            <h4>Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        
        <section class="info-footer">
                    <span class="iconos-footer"><i class="fa-solid fa-gift"></i></span>
            <h4>Envío gratis desde $ 2.500</h4>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        
        <section class="info-footer">
                    <span class="iconos-footer"><i class="fa-solid fa-user-shield"></i></span>
            <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
        </section>
        
        <section>
                <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
    </footer>

</body>
</html>